.category {
  margin-top: 5rem !important; /* Using relative units */
}

.category .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.category .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: green;
  font-weight: bold;
}

.category button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 0.3125rem; /* Using relative units */
  border-bottom-right-radius: 0.3125rem; /* Using relative units */
  font-size: 1rem; /* Using relative units */
  font-weight: bold;
}

.category .card-text {
  color: rgb(90, 89, 89);
}

.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  height: 18.75rem !important; /* Using relative units */
}
